.card_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Responsive columns */
    gap: 1rem;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
  }
  
  /* Remove the fixed height for better responsiveness */
  