.card_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Responsive columns */
    gap: 1.5rem;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
  }

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 768px) {
  .card_box {
    grid-template-columns: repeat(2, 1fr); /* Responsive columns */
  }
}
@media screen and (max-width: 576px) {
  .card_box {
    grid-template-columns:  1fr; /* Responsive columns */
  }
}
