$blackColor:#000000;
$whitecolor:#FFFFFF;
$navLink-black:#232323;
$subNav-graycolor: #5D5E60;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Julius+Sans+One&family=Poppins:wght@100;300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$logo-font:'Julius Sans One', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Julius+Sans+One&family=Overpass:wght@100;200;300;400;500&family=Poppins:wght@100;300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$navLink-font:'Overpass', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Julius+Sans+One&family=Overpass:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$poppin-font:'Poppins', sans-serif;