$blackColor:#000000;
$whitecolor:#FFFFFF;
$navLink-black:#232323;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Julius+Sans+One&family=Poppins:wght@100;300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$logo-font:'Julius Sans One', sans-serif;