
.HeroSection{
    margin-top: 0;
}
.Carousel-container{
    margin: 0 100px ;
    width:"700px";
     height:"300px";

}

.Carousel-container img{
    overflow: hidden;
}
.carousel {
    max-width:900px;
    max-height:500px;
    margin: auto;
  }
