
.HeroSection{
    margin-top: 0;
}
.Carousel-container{
    margin: 0 100px ;
    width:700px;
     height:300px;

}

.Carousel-container img{
    overflow: hidden;
}
.carousel {
    max-width:1000px;
    margin: auto;
    height: 300px;
  }
.carousel-inner{
    height: 300px;
}

