
@import "../Variables/Variables.scss";

.NavBar{
    width: 100%;
    height: 170px;
    background-color: $whitecolor;
    padding-top: 30px;
}
.logo-container >h1{
font-family: $logo-font;
font-size: 10px;
letter-spacing: 0.2em;
padding-bottom: 20px;
}

.Nav-Links a{
 color: $navLink-black;
 text-decoration: none;
 margin: 0 20px;
font-family: $navLink-font;
font-weight: bold;
font-size: 15px;
letter-spacing: 0.2em;
}